@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

button {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 12px;
  border-radius: 8px;
}

button:enabled {
  color: #396df2;
  border: 1px solid #7f8cff;
  background: white;
}

button:hover {
  color: white;
  border: 1px solid #7f8cff;
  background: #6070ff;
  box-shadow: 0.1px 8px 16px rgba(64, 83, 252, 0.24);
}

button:active {
  color: white;
  background: #2230d2;
}

button:disabled {
  color: #5e6c84;
  border: 1px solid #c1c7d0;
}

/* Minimum phone screen size */
@media (min-width: 375px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Poppins", sans-serif;
    background: #f7f7f9;
  }

  .projects {
    display: grid;
    align-content: center;
    padding: 114px 24px;
    grid-gap: 88px;

    .project {
      display: grid;
      align-content: center;
      padding: 16px;
      background: white;
      border: 1px solid #def1e6;
      border-radius: 16px;

      .project-img {
        padding-bottom: 1rem;
      }

      .project_detail {
        display: grid;
        align-content: start;
        grid-gap: 12px;
        width: 100%;

        .project-title {
          display: grid;
          justify-content: start;

          .project-history {
            display: grid;
            grid-auto-flow: column;
            justify-content: center;
            align-items: center;
            grid-gap: 12px;
          }

          .project-his-det {
            padding: 8px 0.2px;
          }
        }
      }

      .project-tags {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        grid-gap: 8px;
        justify-content: start;
      }

      .lang-tag {
        float: left;
        padding-right: 0.5rem;

        .spanning {
          background: #ebebff;
          border-radius: 8px;
          color: #6070ff;
          padding: 4px 12px;
        }
      }
    }
  }

  .navbar {
    display: flex;
    padding: 14px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
  }

  .nav1 {
    padding: 37px 43px;
    list-style: none;
    font-size: 20px;
    display: none;
  }

  .info {
    font-size: 30px;
    margin-top: 10px;
    color: #344563;
    display: none;
  }

  .paragraph {
    font-weight: 900;
    font-size: 44px;
    color: #091e42;
  }

  .paragraph2 {
    font-size: 16px;
    font-weight: 400;
    margin-left: 15px;
    margin-top: 5px;
    color: #344563;
  }

  .connect {
    color: #7f8cff;
    font-size: 16px;
    margin-top: 25px;
    padding-top: 5px;
  }

  a {
    text-decoration: none;
    color: #6070ff;
    font-size: 15px;
    font-weight: bold;
  }

  .content1 {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 114px;
  }

  .Logo {
    font-size: 18px;
    font-weight: bold;
    color: #6070ff;
  }

  .intro {
    background-image: url(header-shapes\ mobile@2x.svg);
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 114px 24px;
    padding-bottom: 100px;
    border-radius: 0 0 0 45px;
    display: flex;
    flex-direction: column;
  }

  .menu {
    margin-top: 5px;
    height: 12px;
    display: block;
  }

  .menu-items {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    font-size: 15px;
  }

  .social-media-icon {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
    list-style-type: none;
    margin-top: 5px;
  }

  .icon {
    padding: 5px;
  }

  /* Start of new formating */

  /* Work Section */

  .client {
    color: #091e42;
    list-style-type: none;
    font-size: 13px;
    font-weight: 700;
  }

  .role {
    margin-left: 10px;
    font-size: 13px;
    font-weight: 600;
    color: #7a869a;
  }

  .year {
    font-size: 13px;
    color: #7a869a;
    font-weight: 600;
  }

  .see-project {
    color: #396df2;
    font-weight: 500;
    font-size: 17px;
    text-align: center;
    background-color: #ffff;
    border-radius: 16px;
    border: 1px solid #dfe1e6;
    border-color: #396df2;
    box-sizing: border-box;
    padding: 12px;
    width: 120px;
  }

  .btn1 {
    font-size: 12px;
  }

  .btns {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
    list-style-type: none;
    margin-top: 5px;
    color: #6070ff;
  }

  .btn {
    background-color: #ebebff;
    font-weight: 500;
    font-size: 12px;
    padding: 4px 12px;
    border-radius: 8px;
  }

  /* About me section */
  .about-myself {
    display: grid;
    grid-gap: 24px;
    background-color: #ffff;
    padding: 114px 24px;
    gap: 12px;
    border-radius: 0 45px 0 0;
  }

  .my-self {
    gap: 15px;
  }

  .resume {
    color: #396df2;
    font-weight: 500;
    font-size: 17px;
    text-align: center;
    background-color: #ffff;
    border-radius: 16px;
    border: 1px solid #dfe1e6;
    border-color: #396df2;
    box-sizing: border-box;
    padding: 12px;
    margin-top: 10px;
  }

  .about {
    font-size: 40px;
    font-weight: 700;
    color: #172b4d;
  }

  .skill-list {
    width: 100%;
    display: grid;

    .languages {
      width: 100%;
      display: grid;

      .lang-title {
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
        padding: 1rem 0.1px;
        width: 100%;
      }

      .lang-list {
        display: grid;
        gap: 12px;
        width: 100%;

        .lang-list-item {
          display: grid;
          justify-content: start;
          grid-auto-flow: column;
          width: 100%;
          gap: 1rem;
          padding: 8px 0.1px;
          align-items: center;
          background: #f7f7f9;
          border-radius: 8px;

          .list-item-image {
            padding-left: 10px;
            width: 48px;
            height: 48px;
          }
        }
      }
    }
  }

  #contactForm {
    margin-top: -60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 52px;
    background: #6070ff;
    border-radius: 5rem 0 0 0;
    background-image: url(contact\ form\ shapes-mobile.svg);
    background-position: right;
    background-repeat: no-repeat;

    .contactDetail {
      margin-top: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;

      .head {
        color: white;
        font-size: 40px;
        line-height: 130%;
      }

      .detail {
        color: white;
        text-align: center;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
      width: 100%;

      .fields {
        display: flex;
        flex-direction: column;
        gap: 12px;
        border: none;
        width: 100%;

        .input {
          padding: 12px;
          background: white;
          border: 1px solid #cfd8dc;
          border-radius: 8px;
          color: #172b4d;
          font-style: normal;
          font-weight: 400;
          font-size: 17px;
          line-height: 20px;
        }
      }

      .textArea {
        background: #ffff;
        border: 1px solid #cfd8dc;
        border-radius: 8px;
        padding: 12px;
        width: 100%;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        color: #b3bac5;
      }

      .submit_button {
        padding: 12px 16px;
        background: #ffff;
        border-radius: 8px;
        border: 1px solid #cfd8dc;
        color: #6070ff;
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 24px;
      }

      .submit_button:hover {
        background: #6070ff;
        box-shadow: 8px 16px rgba(64, 83, 252, 0.24);
        border-radius: 8px;
        color: #ffff;
      }

      .submit_button:active {
        background: #2230d2;
        border-radius: 8px;
      }

      .submit_button:disabled {
        color: #5e6c84;
        border: 1px solid #c1c7d0;
        border-radius: 8px;
      }
    }
  }
}

/* Minimum desktop screen size */
@media (min-width: 768px) {
  body {
    font-family: "Poppins", sans-serif;
    background: #f7f7f9;
  }/* Work Section */

  .projects {
    justify-items: center;

    .project2 .project-img {
      order: 2;
    }

    .project2 .project_detail {
      order: 1;
    }

    .project {
      grid-auto-flow: column;
      width: 80%;
      padding: 24px;
      grid-gap: 12px;

      .project-img {
        display: grid;
        height: 100%;
        width: auto;
        padding-right: 1rem;
      }

      .project-img:hover {
        transform: scale(0.9);
      }

      .project_detail {
        display: grid;
        height: 465px;
        align-content: start;
        width: 100%;
        grid-gap: 36px;

        .project-title {
          display: grid;
          justify-content: start;

          .project-history {
            display: grid;
            grid-auto-flow: column;
            align-items: center;
            grid-gap: 12px;
            justify-content: center;
          }

          .project-his-det {
            padding: 8px 0.2px;
          }
        }
      }

      .project-tags {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        grid-gap: 8px;
        justify-content: start;
      }

      .lang-tag {
        float: left;
        padding-right: 0.5rem;

        .spanning {
          background: #ebebff;
          border-radius: 8px;
          padding: 4px 12px;
          color: #6070ff;
        }
      }
    }
  }

  header {
    .navbar {
      display: flex;
      padding: 1px;
      padding-left: 15px;
      justify-content: space-between;
      align-items: center;
      background-color: white;
    }

    .Logo {
      color: #6070ff;
      width: 76px;
      height: 20px;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 20px;
      padding-left: 50px;
    }

    .Logo:hover {
      transform: rotate(3.142rad);
    }

    .menu {
      display: none;
    }

    .menu-items {
      display: none;
      position: fixed;
      width: 100%;
      height: 100vh;
      font-size: 15px;
      background: rgba(96, 112, 255, 0.9);
      z-index: 100;
    }

    .nav1 {
      list-style: none;
      font-size: 20px;
      display: inline-flex;
      flex-direction: row;
    }

    .linav {
      padding: 10px;
    }

    .info {
      font-size: 15px;
      margin-top: 10px;
      color: #344563;
      display: contents;
    }
  }

  .linav:hover {
    background-color: #6070ff;
    border-radius: 10%;
  }

  /* Intro Section */
  .intro {
    background-image: url(../HTML&CSS/Header\ bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    padding: 10px;
    padding-bottom: 100px;
    border-radius: 0 0 0 45px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .content1 {
      display: flex;
      flex-direction: column;
      align-items: baseline;
      margin-top: 10%;
      margin-left: 17%;
      margin-right: 17%;
    }

    .paragraph {
      font-size: 40px;
      font-weight: 700;
      color: #091e42;
      letter-spacing: 0.37px;
    }

    .paragraph2 {
      font-size: 20px;
      font-weight: 400;
      color: #344563;
    }

    .connect {
      color: #7f8cff;
      font-size: 16px;
      margin-top: 30px;
      padding: 0;
    }

    .social-media-icon {
      margin-top: 10px;
      margin-bottom: 10px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      list-style-type: none;
      -ms-flex-align: center;
    }

    .icon {
      padding-top: 10px;
    }
  }

  .btns {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
    list-style-type: none;
    margin-top: 5px;
    color: #6070ff;
  }

  .btn {
    background-color: #ebebff;
    font-weight: 500;
    font-size: 12px;
    padding: 4px 12px;
    border-radius: 8px;
  }

  .btn1 {
    font-size: 12px;
  }

  /* About me section */
  .about-myself {
    background-size: cover;
    background-color: #ffff;
    background-repeat: no-repeat;
    padding: 114px 100px;
    border-radius: 0 45px 0 0;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;

    .about {
      font-size: 40px;
      font-weight: 700;
      color: #172b4d;
    }

    .resume {
      color: #396df2;
      font-weight: 500;
      font-size: 17px;
      text-align: center;
      background-color: #ffff;
      border-radius: 16px;
      border: 1px solid #dfe1e6;
      border-color: #396df2;
      box-sizing: border-box;
      padding: 12px;
      margin-top: 10px;
    }

    .containing {
      margin-right: 25%;
    }

    .skill-list {
      .languages {
        .lang-list {
          display: flex;
          flex-direction: row;
          gap: 12px;
          align-items: center;
          padding: 12px;

          .lang-list-item {
            display: grid;
            grid-auto-flow: row;
            align-items: center;
            justify-items: flex-start;
            padding-right: 3rem;
            background: #f7f7f9;
            padding-left: 1rem;
            padding-bottom: 1rem;
            border-radius: 8px;
            width: fit-content;
            padding-top: 1rem;
            gap: 1rem;
          }
        }
      }
    }

    .resume:hover {
      background: #6070ff;
      box-shadow: 0.5px 8px 16px rgba(64, 83, 252, 0.24);
      border-radius: 8px;
      color: #ffff;
    }
  }

  /* ContactForm section */
  #contactForm {
    margin-top: -60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 52px;
    padding-bottom: 10%;
    background: #6070ff;
    border-radius: 5rem 0 0 0;
    background-image: url(./desktopform/contact\ form\ background\ shapes@2x.svg);
    background-position: right;
    background-repeat: no-repeat;

    .contactDetail {
      margin-top: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;

      .head {
        color: white;
        font-size: 40px;
        line-height: 130%;
      }

      .detail {
        color: white;
        text-align: center;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        width: 569px;
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 27px;
      width: 447px;

      .fields {
        display: flex;
        flex-direction: column;
        gap: 27px;
        border: none;
        width: 100%;

        .input {
          padding: 12px;
          background: white;
          border: 1px solid #cfd8dc;
          border-radius: 8px;
          color: #172b4d;
          font-style: normal;
          font-weight: 400;
          font-size: 17px;
          line-height: 20px;
        }
      }

      .textArea {
        background: #ffff;
        border: 1px solid #cfd8dc;
        border-radius: 8px;
        padding: 12px;
        width: 100%;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        color: #b3bac5;
      }

      .submit_button {
        padding: 12px 16px;
        border: 1px solid #cfd8dc;
        color: #6070ff;
        font-size: 17px;
        line-height: 24px;
        font-style: normal;
        font-weight: bold;
        background: #ffff;
        border-radius: 8px;
      }

      .submit_button:hover {
        background: #6070ff;
        box-shadow: 8px 16px rgba(64, 83, 252, 0.24);
        border-radius: 8px;
        color: #ffff;
      }

      .submit_button:active {
        background: #2230d2;
        border-radius: 8px;
      }

      .submit_button:disabled {
        color: #5e6c84;
        border: 1px solid #c1c7d0;
        border-radius: 8px;
      }
    }
  }
}
